In [19]:
import os
path = os.getcwd()
os.chdir(path)

# magic to print version
%reload_ext autoreload
# magic so that the notebook will reload external python modules
%autoreload 2

import warnings
warnings.filterwarnings('ignore')


import sim, bpr, metrics
import numpy as np
import pandas as pd
from subprocess import call
from sklearn.utils import shuffle
from common.constants import (
    DEFAULT_USER_COL,
    DEFAULT_ITEM_COL,
    DEFAULT_RATING_COL,
    DEFAULT_TIMESTAMP_COL,
    DEFAULT_TEST_SIZE,
    DEFAULT_MIN_SIMILARITY
)

In [5]:
# constants
ds_dir = "datasets/"
ds_name = "ml-1m"
ds_rel_path = os.path.join(ds_dir, ds_name)

col_genres = "genres"

# parameters were randomly chosen
bpr_params = {
    "reg": 0.01,
    "learning_rate": 0.1,
    "n_iters": 160,
    "n_factors": 15,
    "batch_size": 100,
}

In [6]:
# init libs
similarity = sim.Similarity()

In [7]:
def load_ds(data_name, cols):
    os.makedirs(ds_dir, exist_ok=True)
    ds_path = os.path.join(ds_rel_path, data_name + ".dat")
    zip_file_name = ds_rel_path + ".zip"
    if not os.path.isdir(ds_rel_path):
        call(
            [
                "curl",
                "-o",
                zip_file_name,
                "http://files.grouplens.org/datasets/movielens/" + ds_name + ".zip",
            ]
        )
        call(["unzip", zip_file_name, "-d", ds_dir])

    return pd.read_csv(ds_path, sep="::", names=cols, encoding="latin-1")

## Ratings 
Load ratings dataset.

In [8]:
rating_cols = [DEFAULT_USER_COL, DEFAULT_ITEM_COL, DEFAULT_RATING_COL, DEFAULT_TIMESTAMP_COL]
ratings = load_ds("ratings", rating_cols)
print("ratings shape: ", ratings.shape)
ratings.head()

ratings shape:  (1000209, 4)

   userID  itemID  rating  timestamp
0       1    1193       5  978300760
1       1     661       3  978302109
2       1     914       3  978301968
3       1    3408       4  978300275
4       1    2355       5  978824291

## Movies
Load movies datasets.

In [9]:
movies_cols = [DEFAULT_ITEM_COL, "movie_title", col_genres]
movies = load_ds("movies", movies_cols)
print("movies shape: ", movies.shape)
movies.head()

movies shape:  (3883, 3)

   itemID                         movie_title                        genres
0       1                    Toy Story (1995)   Animation|Children's|Comedy
1       2                      Jumanji (1995)  Adventure|Children's|Fantasy
2       3             Grumpier Old Men (1995)                Comedy|Romance
3       4            Waiting to Exhale (1995)                  Comedy|Drama
4       5  Father of the Bride Part II (1995)                        Comedy

### Genres
Extract genres and put them in a map for future processing.

In [10]:
movies_genres = {}
for _, movie in movies.iterrows():
    movies_genres[movie[DEFAULT_ITEM_COL]] = movie[col_genres].split("|")

print("first movie genres: ", movies_genres[1])

first movie genres:  ['Animation', "Children's", 'Comedy']

## Users
Load users dataset.

In [11]:
user_cols = [DEFAULT_USER_COL, "gender", "age", "ratings", "zip code"]
users = load_ds("users", user_cols)
print("users shape: ", users.shape)
users.head()

users shape:  (6040, 5)

   userID gender  age  ratings zip code
0       1      F    1       10    48067
1       2      M   56       16    70072
2       3      M   25       15    55117
3       4      M   45        7    02460
4       5      M   25       20    55455

## Content Based Modification

### Similar movies finder
This function finds similar movies to a certain movie and calculates Jaccard similarity for it.

In [12]:
def content_based_similar_movies(i, similarity_percent):
    sim_movies = []
    for _, movie in movies.iterrows():
        j = int(movie[DEFAULT_ITEM_COL])
        if i == j:
            continue
        genre_sim = similarity.Jaccard(movies_genres, i, j)
        if genre_sim > similarity_percent:
            sim_movies.append({DEFAULT_ITEM_COL: j, "sim": genre_sim})
    sim_movies.sort(key=lambda sim_movies: sim_movies["sim"], reverse=True)
    df = pd.DataFrame(sim_movies)
    # df['movie_id'] = df['movie_id'].astype('int')
    return df


similar_movies = content_based_similar_movies(9, DEFAULT_MIN_SIMILARITY)
similar_movies.head()

   itemID  sim
0      20  1.0
1      71  1.0
2     145  1.0
3     204  1.0
4     227  1.0

### New Ranks addition
Add new ranking items to the dataset according to the current similar movie ranks for each user.

In [13]:
def add_similar_ranking(movies_to_check, users_to_check):
    new_ratings = ratings.copy()
    shuffle_users = shuffle(users)
    i = 0
    for m_id, mg in movies_genres.items():
        if i > movies_to_check:
            break
        i += 1
        for u_i, u in shuffle_users.iterrows():
            if u_i < users_to_check:
                curr_rating = ratings[
                    (ratings[DEFAULT_USER_COL] == u[DEFAULT_USER_COL])
                    & (ratings[DEFAULT_ITEM_COL] == m_id)
                ]

                if not curr_rating.empty:
                    curr_rating_val = curr_rating.iloc[0][DEFAULT_RATING_COL]
                    if curr_rating_val >= 4.0 or curr_rating_val <= 3.0:
                        sim_movies = content_based_similar_movies(m_id, DEFAULT_MIN_SIMILARITY)
                        for _, sm in sim_movies.iterrows():
                            new_rating = new_ratings[
                                (new_ratings[DEFAULT_USER_COL] == u[DEFAULT_USER_COL])
                                & (new_ratings[DEFAULT_ITEM_COL] == sm[DEFAULT_ITEM_COL])
                            ]
                            if new_rating.empty:
                                new_row = {
                                    DEFAULT_USER_COL: u[DEFAULT_USER_COL],
                                    DEFAULT_ITEM_COL: int(sm[DEFAULT_ITEM_COL]),
                                    DEFAULT_RATING_COL: curr_rating_val,
                                    DEFAULT_TIMESTAMP_COL: 1704397300,
                                }
                                loc = int(len(new_ratings))
                                new_ratings.loc[loc] = new_row
    
    return new_ratings


new_ratings = add_similar_ranking(100, 100)
new_ratings.head()

   userID  itemID  rating  timestamp
0       1    1193       5  978300760
1       1     661       3  978302109
2       1     914       3  978301968
3       1    3408       4  978300275
4       1    2355       5  978824291

## BPR

## Create Interaction Matrix
Create user-movie interaction matrix and create train and test sets for the next steps.
> Note: Over untouched ratings list

In [14]:
threshold = 3
X, ratings = bpr.create_matrix(
    ratings, DEFAULT_USER_COL, DEFAULT_ITEM_COL, DEFAULT_RATING_COL, threshold
)

In [15]:
X_train, X_test = bpr.create_train_test(X, test_size=DEFAULT_TEST_SIZE, seed=1234)

### Fit the model
Fit the module with untouched ratings.

In [16]:

bpr = bpr.BPR(**bpr_params)
np.int = int

bpr.fit(X_train)

BPR:   0%|          | 0/160 [00:00<?, ?it/s]

BPR: 100%|██████████| 160/160 [00:33<00:00,  4.84it/s]

### Get AUC Score
Calculate the AUC score of the predicted ranks for untouched ratings.

In [17]:
train_auc, train_trues, train_preds = metrics.auc_score(bpr, X_train)
print("train auc", train_auc)

test_auc, test_trues, test_preds = metrics.auc_score(bpr, X_test)
print("train auc", test_auc)

train auc 0.8872821043989771
train auc 0.853502329643964

## Create Interaction Matrix
Create user-movie interaction matrix and create train and test sets for the next steps.
> Note: Over extended ratings list

In [20]:
X, new_ratings = bpr.create_matrix(
    new_ratings, DEFAULT_USER_COL, DEFAULT_ITEM_COL, DEFAULT_RATING_COL, threshold
)

In [21]:
X_train, X_test = bpr.create_train_test(X, test_size=DEFAULT_TEST_SIZE, seed=1234)
bpr = bpr.BPR(**bpr_params)
np.int = int

bpr.fit(X_train)

BPR: 100%|██████████| 160/160 [00:33<00:00,  4.76it/s]

In [22]:
train_auc, train_trues, train_preds = metrics.auc_score(bpr, X_train)
print("train auc", train_auc)

test_auc, test_trues, test_preds = metrics.auc_score(bpr, X_test)
print("train auc", test_auc)

train auc 0.8892117763468703
train auc 0.856189170842874