In [1]:
import os
path = os.getcwd()
os.chdir(path)

# magic to print version
%reload_ext autoreload
# magic so that the notebook will reload external python modules
%autoreload 2

import warnings
warnings.filterwarnings('ignore')


import sim, bpr, metrics
import numpy as np
import pandas as pd
from subprocess import call
from sklearn.utils import shuffle
from data_split import split_data
from WRMF.wrmf import *
from WRMF import wrmf_rec
from common.constants import (
    DEFAULT_USER_COL,
    DEFAULT_ITEM_COL,
    DEFAULT_RATING_COL,
    DEFAULT_TIMESTAMP_COL,
    DEFAULT_TEST_SIZE,
    DEFAULT_MIN_SIMILARITY
)

In [2]:
# constants
ds_dir = "datasets/"
ds_name = "ml-1m"
ds_rel_path = os.path.join(ds_dir, ds_name)

col_genres = "genres"

# parameters were randomly chosen
bpr_params = {
    "reg": 0.01,
    "learning_rate": 0.1,
    "n_iters": 160,
    "n_factors": 15,
    "batch_size": 100,
}

In [3]:
# init libs
similarity = sim.Similarity()

In [4]:
def load_ds(data_name, cols):
    os.makedirs(ds_dir, exist_ok=True)
    ds_path = os.path.join(ds_rel_path, data_name + ".dat")
    zip_file_name = ds_rel_path + ".zip"
    if not os.path.isdir(ds_rel_path):
        call(
            [
                "curl",
                "-o",
                zip_file_name,
                "http://files.grouplens.org/datasets/movielens/" + ds_name + ".zip",
            ]
        )
        call(["unzip", zip_file_name, "-d", ds_dir])

    return pd.read_csv(ds_path, sep="::", names=cols, encoding="latin-1")

## Ratings 
Load ratings dataset.

In [5]:
rating_cols = [DEFAULT_USER_COL, DEFAULT_ITEM_COL, DEFAULT_RATING_COL, DEFAULT_TIMESTAMP_COL]
ratings = load_ds("ratings", rating_cols)
print("ratings shape: ", ratings.shape)
ratings.head()

ratings shape:  (1000209, 4)

   userID  itemID  rating  timestamp
0       1    1193       5  978300760
1       1     661       3  978302109
2       1     914       3  978301968
3       1    3408       4  978300275
4       1    2355       5  978824291

## Movies
Load movies datasets.

In [6]:
movies_cols = [DEFAULT_ITEM_COL, "movie_title", col_genres]
movies = load_ds("movies", movies_cols)
print("movies shape: ", movies.shape)
movies.head()

movies shape:  (3883, 3)

   itemID                         movie_title                        genres
0       1                    Toy Story (1995)   Animation|Children's|Comedy
1       2                      Jumanji (1995)  Adventure|Children's|Fantasy
2       3             Grumpier Old Men (1995)                Comedy|Romance
3       4            Waiting to Exhale (1995)                  Comedy|Drama
4       5  Father of the Bride Part II (1995)                        Comedy

### Genres
Extract genres and put them in a map for future processing.

In [7]:
movies_genres = {}
for _, movie in movies.iterrows():
    movies_genres[movie[DEFAULT_ITEM_COL]] = movie[col_genres].split("|")

print("first movie genres: ", movies_genres[1])

first movie genres:  ['Animation', "Children's", 'Comedy']

## Users
Load users dataset.

In [8]:
user_cols = [DEFAULT_USER_COL, "gender", "age", "ratings", "zip code"]
users = load_ds("users", user_cols)
print("users shape: ", users.shape)
users.head()

users shape:  (6040, 5)

   userID gender  age  ratings zip code
0       1      F    1       10    48067
1       2      M   56       16    70072
2       3      M   25       15    55117
3       4      M   45        7    02460
4       5      M   25       20    55455

## Content Based Modification

### Similar movies finder
This function finds similar movies to a certain movie and calculates Jaccard similarity for it.

In [9]:
def content_based_similar_movies(i, similarity_percent):
    sim_movies = []
    for _, movie in movies.iterrows():
        j = int(movie[DEFAULT_ITEM_COL])
        if i == j:
            continue
        genre_sim = similarity.Jaccard(movies_genres, i, j)
        if genre_sim > similarity_percent:
            sim_movies.append({DEFAULT_ITEM_COL: j, "sim": genre_sim})
    sim_movies.sort(key=lambda sim_movies: sim_movies["sim"], reverse=True)
    df = pd.DataFrame(sim_movies)
    # df['movie_id'] = df['movie_id'].astype('int')
    return df


similar_movies = content_based_similar_movies(9, DEFAULT_MIN_SIMILARITY)
similar_movies.head()

   itemID  sim
0      20  1.0
1      71  1.0
2     145  1.0
3     204  1.0
4     227  1.0

### New Ranks addition
Add new ranking items to the dataset according to the current similar movie ranks for each user.

In [10]:
def add_similar_ranking(movies_to_check, users_to_check):
    new_ratings = ratings.copy()
    shuffle_users = shuffle(users)
    i = 0
    for m_id, mg in movies_genres.items():
        if i > movies_to_check:
            break
        i += 1
        for u_i, u in shuffle_users.iterrows():
            if u_i < users_to_check:
                curr_rating = ratings[
                    (ratings[DEFAULT_USER_COL] == u[DEFAULT_USER_COL])
                    & (ratings[DEFAULT_ITEM_COL] == m_id)
                ]

                if not curr_rating.empty:
                    curr_rating_val = curr_rating.iloc[0][DEFAULT_RATING_COL]
                    if curr_rating_val >= 4.0 or curr_rating_val <= 3.0:
                        sim_movies = content_based_similar_movies(m_id, DEFAULT_MIN_SIMILARITY)
                        for _, sm in sim_movies.iterrows():
                            new_rating = new_ratings[
                                (new_ratings[DEFAULT_USER_COL] == u[DEFAULT_USER_COL])
                                & (new_ratings[DEFAULT_ITEM_COL] == sm[DEFAULT_ITEM_COL])
                            ]
                            if new_rating.empty:
                                new_row = {
                                    DEFAULT_USER_COL: u[DEFAULT_USER_COL],
                                    DEFAULT_ITEM_COL: int(sm[DEFAULT_ITEM_COL]),
                                    DEFAULT_RATING_COL: curr_rating_val,
                                    DEFAULT_TIMESTAMP_COL: 1704397300,
                                }
                                loc = int(len(new_ratings))
                                new_ratings.loc[loc] = new_row
    
    return new_ratings


new_ratings = add_similar_ranking(100, 100)
new_ratings.head()

   userID  itemID  rating  timestamp
0       1    1193       5  978300760
1       1     661       3  978302109
2       1     914       3  978301968
3       1    3408       4  978300275
4       1    2355       5  978824291

## WRMF

## Create Interaction Matrix and Fit
Create user-movie interaction matrix and create train and test sets for the next steps.
> Note: Over untouched ratings list

In [11]:
train, test = split_data(ratings,
                         split_strategy="random_by_user",
                         random_state=0)            # split data
wrmf = WRMF(train, weight_strategy="uniform_pos")   # wrmf model
model =  train_cornac(wrmf, train)                  # train model

k = 10
top_k = wrmf_rec.recommend_top_k(model, train, k)   # recommendation
metrics.ranking_metrics(top_k, test)                        # evaluation

  0%|          | 0/6040 [00:00<?, ?it/s]

100%|██████████| 6040/6040 [00:15<00:00, 402.39it/s]

maximum of weights=1.0, minimum=1.0

  0%|          | 0/100 [00:00<?, ?it/s]

Learning completed!

{'Precision@k': 0.2979635761589404,
 'Recall@k': 0.13589476197720968,
 'NDCG@k': 0.3361645675628572}

## Create Interaction Matrix
Create user-movie interaction matrix and create train and test sets for the next steps.
> Note: Over extended ratings list

In [12]:
train, test = split_data(new_ratings, split_strategy="random_by_user", random_state=0)
wrmf = WRMF(train, weight_strategy="uniform_pos")
model = train_cornac(wrmf, train)

k = 10
top_k = wrmf_rec.recommend_top_k(model, train, k)
metrics.ranking_metrics(top_k, test)

100%|██████████| 6040/6040 [00:11<00:00, 522.07it/s]

maximum of weights=1.0, minimum=1.0

  0%|          | 0/100 [00:00<?, ?it/s]

Learning completed!

{'Precision@k': 0.3037251655629139,
 'Recall@k': 0.13557537892605157,
 'NDCG@k': 0.3415483215579301}